:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 250px;
    background-color: #778591;
}
mat-drawer-container{
    height: 100%;
}
app-footer{
    background-color: #ddd;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
.moduleTitle h2 {
    display: block;
    font-size: 26px;
    font-weight: 300;
    color: #534d64;
    margin: 21px 0 12px 16px;
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
}